@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

.cardInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardInfoTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6rem;
  bottom: 46px;
  position:absolute;
  color:rgb(49, 49, 49); 
  width: 100%;
  height: 6%;
  font-family: 'Roboto';
}

.infoContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position:absolute;
  font-size: 16px;
  top: 10rem;
  bottom: 46px;
  font-family: 'Roboto';
}

.priorityInfo{
  text-align: center;
  padding: 12px;
  width: 100px;

  background-color:rgb(49, 48, 48);
  color: rgb(134, 133, 133); 
  font-family: 'Roboto';
  text-transform: uppercase;
}


.updtBtn{
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  width: 100px;
  height: 40px;
  background-color:rgb(47, 68, 161);
  color: #ffff; 
  border: none;
  border-radius: 5px;
  
}

.updtButton{
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  width: 100px;
  height: 40px;
  background-color:rgb(161, 52, 52);
  color: #ffff; 
  border: none;
  border-radius: 5px;
}

.react-responsive-modal-modal{
  width: 500px;
  height: 150px;
  text-align: center;
  font-size: 16px;  
  font-family: 'Roboto';
}


.keepBtn{
  font-family: 'Roboto';
  font-size: 18px;
  width: 100px;
  height: 40px;
  background-color: rgb(35, 104, 58);
  color: #ffff; 
  border: none;
  border-radius: 5px;
  margin: 20px;
}

.delBtn{
  font-family: 'Roboto';
  font-size: 18px;
  width: 100px;
  height: 40px;
  background-color: rgb(161, 52, 52);
  color: #ffff; 
  border: none;
  border-radius: 5px;
}
