.app {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



a:link {
  text-decoration: none;
}