.cardListContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position:absolute;
  overflow:auto;
  top: 8.4rem;
  bottom: 46px;
  box-shadow: rgba(117, 229, 233, 0.871) 0px 13px 27px -5px, rgba(117, 229, 233, 0.871) 0px 8px 16px -8px;
  background-color: #010B02;
  }